$color1 :#8e254e;
$colorFond: #E5CBD3;

$font1:'Niconne', cursive;
$font2:'Roboto', sans-serif;

body{
    margin: auto;
    font-family: $font2;
    font-size: 25px;
    font-weight: bold;
}

h1, h2,h3{
    font-family: $font1;
    font-size: 40px;
}


