$color1 :#8e254e;
$colorFond: #f99ef2;

$font1:'Niconne', cursive;
$font2:'Times New Roman', Times, serif;


body{
    margin: auto;
    font-family: $font2;
    font-size: 20px;
}

h1, h2,h3{
    font-family: $font1;
    font-size: 40px;
}

@keyframes transform {
    0%{
      transform: scale(0);
    }
    
    100%{
      transform: scale(1);
    }

  }



