header{
    a{
        text-decoration: none;  
        display: flex;
        align-items: baseline;
        margin-top: 10px;
        i{
            margin-right: 10px;
            color: $color1;
        }
        &:hover{
            transform: scale(1.2);
        }
    }
    h3{
    font-weight: 100;
    margin: 0;
    font-size: 40px;
    }
    p{
        width: 80%;
        text-align: center;
    }

}

main{
     li{
        animation: transform 2.5s ease forwards;
    }
    .choix{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        font-weight: 100;
        .soin{
            background-image: radial-gradient(#e5dcf1 0%, transparent 50%, $colorFond);
            margin-bottom: 20px;
            padding: 5px;
            border-radius: 20px;
            
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3,p{
                margin: 0;
            }
        
        }
        .choix_soin{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px;
            .choix{
                display: flex;
                p{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }
            }
        }
        
    }
    
}

footer{
    background: linear-gradient(120deg, $color1, #e5dcf1 85%);
    margin-bottom: 0;
    margin-top: 50px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    
    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        list-style: none;
        padding-left: 0;
        li{
            width: 30%;
            text-align: center;
            &:hover{
                transform: scale(1.2);
               
            }
        }
        a{
            text-decoration: none;
            color: black;
            margin-right: 5px;
            font-size: 25px;
            &:hover{
                color: #5C2D40;
            }
        }
        .reseaux{
            display: flex;
            justify-content: space-evenly;
            width: 30%;
            a{
                font-size: 40px;
            }
        }
     }
 
}

 /* mobile */
 @media screen and (min-width:320px) and (max-width:750px){
     header{
         p{
             text-align: center;
             font-size: 20px;
         }
     }
    main{
        .choix{
            .soin{
                h3{
                    font-size: 35px;
                }
                p{
                    margin-top: 20px;
                }
                .choix_soin{
                    flex-direction: column;
                    .choix{
                        p{
                            flex-direction: column;
                           justify-content: center;
                        }
                    }
                }
            }
        }
    }
    footer{
        height: 200px;
        margin-top: 20px;
        font-size: 20px;

        ul{
            flex-direction: column;
            height: 200px;
            li{
                width: 100%;
            }
        }
    }
  }
  
  @media screen and (min-width:750px) and (max-width:1050px){
    main{
        .choix{
            .soin{
                h3{
                    font-size: 35px;
                }
               
                .choix_soin{
                    flex-direction: column;
                    .choix{
                        p{
                            flex-direction: column;
                           justify-content: center;
                        }
                    }
                }
            }
        }
        
    }
    footer{
        margin-top: 20px;
        font-size: 20px;
        font-weight: 100;
    }

  }
  /* grand ecran */
  @media screen and (min-width:850px) and (max-width:1400px){
    
  }

